# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment / secretsS
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# React/Vite build
dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db